@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); /* Importerar PT Sans typsnittet*/

html, body {
    background-color: #17181B; /* Svart bakgrund */
    color: #E8EAED; /* Vit text */
    font-family: 'PT Sans', sans-serif; /* Specifierar fonten */
	height: 100%; 
	margin: 0; /* CSS */
	padding: 0; /* Reset */
}

h1 {
	margin: 0; /* CSS */
	padding: 0; /* Reset */
	font-size: 200%; 
}

.content {
	display: flex; /* Integrerar flexbox i klassens barn */
	flex-direction: column; /* Element placeras i kolumner */
	margin-left: 1%; 
}

header {
	width: 100%; /* Täcker 100% av bredden hos <body> */
	height: 10%; /*Täcker 10% höjden hos <body> */
	background-color: #0E1013; 
}

nav {
	display: flex; 
	flex-direction: row; /* Barnen placeras i rader */
	justify-content: flex-start; /* Barnen börjar från vänster (x-axel) */
	align-items: center; /* Barnen börjar från centern (y-axeln) */
}

.logo {
	height: 3.5em; /* 3.5 ggr textstorleken i hemsidan */
	margin: 0 1em 0 0.5em; /* Top | Höger | Botten | Vänster */
}

button {
    display: flex; /* Integrerar flexbox i klassens barn */
	width: 20%;
	font-size: 24px;
	cursor: pointer; /* Muspekaren blir pekare */
	border: none; /* Ingen kant */
	outline: none; /* Samma som border */
	background: transparent; /* Genomskinlig bakgrund */
	color: #E8EAED; 
	font-family: 'PT Sans', sans-serif;
	font-weight: 700; /* Fetstil */
    margin: 10px 0 10px 0; /* Top | Höger | Botten | Vänster */
    z-index: 1; /* Hamnar längst fram relativt till andra element */
}

button:hover {
	color: #9AA0A6; /* Text blir grå när användare pekar på knappen */
}
 
.results {
	display: none; /* Är osynlig för användare, finns fortfarande i DOM */
	margin: 0 0 1em 0.5%; /* Top | Right | Bottom | Left */
}

.textValues {
	font-size: 18px;
}